{% extends "layout.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <h6 class="card-subtitle mb-3 text-muted">
                Đăng bởi: {{ post.author.username }} vào {{ post.date_posted.strftime('%d-%m-%Y') }}
            </h6>
            <p class="card-text">{{ post.content }}</p>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
{% endblock content %}